@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header,footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

nav{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: auto 10vw;
    padding: 10px;
}

nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

ul{
    list-style: none;
    display: flex;
    gap: 70px;
}

li a{
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 700;
}

.intro{
    display: flex;
    margin: 150px 150px 0px 150px;
    padding: 50px;
    justify-content: space-between;
}

.intro-text h2{
    font-size: 48px;
    height: 120px;
    width: 600px;
}

.intro-text{
    margin-left: 100px;
}

.intro-text p{
    margin: 30px auto;
    width: 600px;
    font: 18px;
    color: #E5E7EB;
}

.intro img{
    height: 300px;
    margin-right: 100px;
    border-radius: 10%;
}

#but{
    height: 40px;
    width: 150px;
    background-color: #3882F6;
    color: #F9FAF8;
    border:2px solid white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    margin-top: 05px;
}

.reviews h2{
    margin-top: 50px;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.customers{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
}

.cust img{
    margin-top: 100px;
    height: 200px;
    width: 200px;
    border:solid 4px #3882F6;
    border-radius: 10%;
}

.cust p{
    width: 200px;
    margin-bottom: 100px;
}

.quote{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote p{
    width: 60vw;
    margin:auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote h3{
    width: 60vw;
    font-size: 30px;
    /* font-weight: 900; */
    margin: auto;
    margin-top: 30px;
    text-align: right;
}
