@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header,footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

nav{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: auto 10vw;
    padding: 10px;
}

nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

ul{
    list-style: none;
    display: flex;
    gap: 70px;
}

li a{
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 700;
}

.intro{
    display: flex;
    margin: 150px 150px 0px 150px;
    padding: 50px;
    justify-content: space-between;
}

.intro-text h2{
    font-size: 48px;
    height: 120px;
    width: 600px;
}

.intro-text{
    margin-left: 100px;
}

.intro-text p{
    margin: 30px auto;
    width: 600px;
    font: 18px;
    color: #E5E7EB;
}

.intro img{
    height: 300px;
    margin-right: 100px;
    border-radius: 10%;
}

.intro a{
    text-decoration: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 35px;
    border-radius: 6px;
}

.reviews h2{
    margin-top: 50px;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.customers{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-evenly;
}

.cust img{
    margin-top: 100px;
    height: 200px;
    width: 200px;
    border:solid 4px #3882F6;
    border-radius: 10%;
}

.cust p{
    width: 200px;
    margin-bottom: 100px;
}

.quote{
    background-color: #E5E7EB;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote p{
    width: 60vw;
    margin:auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote h3{
    width: 60vw;
    font-size: 30px;
    /* font-weight: 900; */
    margin: auto;
    margin-top: 30px;
    text-align: right;
}

.signup{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 170px;
    width: 975px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.container h3{
    color: #F9FAF8;
    font-size: 28px;
    width: 300px;
    margin-bottom: 2px;
    margin-left: 105px;
    margin-top: 27px;
    margin-right: 0px;
}

.container span{
    color: #F9FAF8;
    display: inline-block;
    margin-left: 105px;
    width: 500px;
}

.container a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 400;
    border: 3px solid #E5E7EB;
    padding: 4px 25px;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 120px;
}


footer{
    text-align: center;
}
